<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugasuas">

    <!-- Izin untuk menggunakan kamera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Izin untuk menyimpan file (jika diperlukan untuk menyimpan gambar atau data) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!-- Izin untuk mengakses penyimpanan di perangkat, untuk penggunaan TensorFlow Lite model dan label -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight">

        <!-- Aktivitas utama (MainActivity) -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:label="Tugas UAS"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!-- Memastikan aplikasi dimulai dari MainActivity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
